<h1>registration page</h1>

<form action="/register" method="post">
<label for="">email</label>
<input type="email" name="email"><br>
<label for="">new password</label>
<input type="password" name="password" placeholder="Enter Password"><br>
<label for="">confirm password</label>
<input type="password" name="password" placeholder="Re-Enter Password"><br>
<button>register</button>
</form>