* {
  box-sizing: border-box;
}


label {
  color: white;
}

h1 {
  text-align: center;
  background: black;
  color: white; 
  margin: 0px;
}

#subhead {
  text-align: center;
  color: pink;
}

#logoutbutton {
  float: right; 
}

#logo {
  float:left; 
  background: none;
}
.navigation {
  background: black;
  color: whitesmoke;
  display: flex;
  padding-left: 40px;
}

ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}

.navigation > ul > li {
    padding: 0px 10px;
    color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 10px; 
}

a:active {
  color: white;
  text-decoration: none; 
  font-size: 10px;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

.top {
  background: black;
  color: pink;
}
.top ul li {
  width: 200px; 
  background: black; 
  display: flex;
  text-align: center;
}

.middle { 
  background: pink;
  border: none;
}

.bottom {
  background: black;
}

 
body {
  background: black;
  font: white; 
}

input[type=search] {
  background-color: pink;
  border: none; 
  color:black;
  height: 40px; 
}

